openapi: 3.1.0
info:
  title: Google Cloud Dataflow Debug API
  description: Manages Google Cloud Dataflow projects on Google Cloud Platform for creating and managing data processing pipelines, including job submission, monitoring, and resource management for both batch and streaming workloads.
  version: v1b3
  termsOfService: https://cloud.google.com/terms
  contact:
    name: Google Cloud Support
    url: https://cloud.google.com/dataflow/docs/support
  license:
    name: Creative Commons Attribution 4.0
    url: https://creativecommons.org/licenses/by/4.0/
servers:
- url: https://dataflow.googleapis.com
  description: Google Cloud Dataflow API production endpoint
security:
- oauth2: []
- apiKey: []
tags:
- name: Debug
  description: Operations for retrieving debug configuration and submitting debug captures.
paths:
  /v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig:
    post:
      operationId: getLocationJobDebugConfig
      summary: Google Cloud Dataflow Get debug configuration for a job component
      description: Retrieves the debug configuration for a specific component of a Dataflow job in the given project and regional location. Used internally by Dataflow workers for debugging purposes.
      tags:
      - Debug
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/locationPath'
      - $ref: '#/components/parameters/jobId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetDebugConfigRequest'
      responses:
        '200':
          description: Successful response containing the debug configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDebugConfigResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture:
    post:
      operationId: sendLocationJobDebugCapture
      summary: Google Cloud Dataflow Send debug capture data for a job component
      description: Submits encoded debug information for a specific component of a Dataflow job in the given project and regional location. Used internally by Dataflow workers for submitting debug data.
      tags:
      - Debug
      parameters:
      - $ref: '#/components/parameters/projectId'
      - $ref: '#/components/parameters/locationPath'
      - $ref: '#/components/parameters/jobId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendDebugCaptureRequest'
      responses:
        '200':
          description: Successful response confirming receipt of debug data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendDebugCaptureResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
components:
  parameters:
    locationPath:
      name: location
      in: path
      required: true
      description: The regional endpoint where the job resides, such as us-central1 or europe-west1.
      schema:
        type: string
    projectId:
      name: projectId
      in: path
      required: true
      description: The ID of the Google Cloud project that owns the job.
      schema:
        type: string
    jobId:
      name: jobId
      in: path
      required: true
      description: The unique identifier of the Dataflow job.
      schema:
        type: string
  responses:
    NotFound:
      description: The requested resource was not found. Verify the project ID, job ID, or other resource identifiers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Status'
    TooManyRequests:
      description: The request was rate-limited. Retry the request after a brief delay using exponential backoff.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Status'
    Forbidden:
      description: The caller does not have sufficient permissions to perform this operation. Verify IAM roles and permissions.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Status'
    Unauthorized:
      description: Authentication credentials were missing or invalid. Provide valid OAuth 2.0 credentials or API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Status'
    InternalServerError:
      description: An internal server error occurred. Retry the request using exponential backoff.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Status'
    BadRequest:
      description: The request was invalid or malformed. Check the request parameters and body for errors.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Status'
  schemas:
    SendDebugCaptureResponse:
      type: object
      description: Response to a send debug capture request. This is an empty response body.
    GetDebugConfigRequest:
      type: object
      description: Request to get the debug configuration for a specific component of a Dataflow job.
      properties:
        workerId:
          type: string
          description: The internal VM hostname of the worker.
        componentId:
          type: string
          description: The internal component identifier.
        location:
          type: string
          description: The regional endpoint for the request.
    GetDebugConfigResponse:
      type: object
      description: Response to a request for debug configuration.
      properties:
        config:
          type: string
          description: The encoded debug configuration for the requested component.
    Status:
      type: object
      description: The Status type defines a logical error model, compatible with gRPC and Google API error conventions.
      properties:
        code:
          type: integer
          format: int32
          description: The status code, which should be an enum value of google.rpc.Code.
        message:
          type: string
          description: A developer-facing error message, which should be in English.
        details:
          type: array
          description: A list of messages that carry the error details.
          items:
            type: object
            additionalProperties: true
    SendDebugCaptureRequest:
      type: object
      description: Request to send debug capture data for a specific component of a Dataflow job.
      properties:
        workerId:
          type: string
          description: The internal VM hostname of the worker.
        componentId:
          type: string
          description: The internal component identifier.
        data:
          type: string
          description: The encoded debug information.
        dataFormat:
          type: string
          description: The format of the data.
          enum:
          - DATA_FORMAT_UNSPECIFIED
          - RAW
          - JSON
          - ZLIB
          - BROTLI
        location:
          type: string
          description: The regional endpoint for the request.
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication for Google Cloud APIs.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/cloud-platform: Full access to all Google Cloud resources.
            https://www.googleapis.com/auth/compute: View and manage Google Compute Engine resources.
            https://www.googleapis.com/auth/compute.readonly: View Google Compute Engine resources.
    apiKey:
      type: apiKey
      name: key
      in: query
      description: API key for identifying the calling project.
externalDocs:
  description: Google Cloud Dataflow REST API Reference
  url: https://cloud.google.com/dataflow/docs/reference/rest
